
body {

}

.wrapper {
    min-height: 70vh;
}

.footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #17112e;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

.success {
    padding: 20px;
    font-size: 18px;
    color: #1a8034;
    background: #a9a9a9;
}